html {
  background: #121fcf;
  background: linear-gradient(to top right, #121fcf 0%, #cf1512 100%);
  height: 100%;
}

.title {
  font-size: 3em;
  color: white;
  position: absolute;
  top: 0;
  left: 39%;
  font-family: "Nunito", sans-serif;
}

.hidden {
  display: none;
}
.instructions {
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.75rem 3.5rem;
  margin-top: 7rem;
  margin-left: 20%;
  margin-right: 15%;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 2em;
  font-family: "Nunito", sans-serif;
  z-index: 10;
}

.open-instructions {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  color: white;
  position: absolute;
  top: 5.25rem;
  right: 6rem;
  font-family: "Nunito", sans-serif;
  
}

.open-instructions:hover {
  cursor: pointer;
  font-weight: 800;
}

.close-instructions {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 2.5em;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-instructions:hover {
  cursor: pointer;
  font-weight: 550;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 5;
}

.start-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  color: white;
  font-family: "Nunito", sans-serif;
  margin: auto;
  font-size: 2em;
  position: absolute;
  top: 15rem;
  left: 45.9%;
}

.start-btn:hover {
  cursor: pointer;
  font-weight: 800;
}